@model HatSelling.Models.Hat
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 p-2 ">
                <figure class="figure hat-view-figure">
                    <img src="~/images/static/hat2.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">@Model.HatName</figcaption>
                </figure>
            </div>

            <div class="col-lg-6 col-md-12">

            </div>



        </div>
    </div>
    
