@{
    ViewData["Title"] = "Home Page";

}




    <!--Image Slider-->

    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active">

            </li>

            <li data-target="#slides" data-slide-to="1">

            </li>

            <li data-target="#slides" data-slide-to="2">

            </li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/static/Hat.jpg" />
                <div class="carousel-caption">
                    <h1 class="display-2">Best Hats</h1>
                    <h3>Website for selling hats</h3>
                    <a href="#about-us">
                        <button type="button" class="btn btn-outline-light btn-lg">
                            Learn more
                        </button>
                    </a>

                    <a href="#about-us">
                        <button type="button" class="btn btn-secondary btn-lg">
                            Get Started
                        </button>
                    </a>

                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/static/hat6.jpg" />
            </div>
            <div class="carousel-item">
                <img src="~/images/static/hat3.jpg" />
            </div>
        </div>
    </div>


    <!--About Us-->

    <div id="about-us" class=" boxx Larger shadow">
        <div class="container-fluid ">
            <div class="row text-center p-5">
                <div class="col-12">
                    <h1>About</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 p-3 about-p">
                    <p class="lead">
                        We are the best hat sellers and we get hats from the best resources and
                        we try and see the quality of hats and hire people to test how they look and we also make high
                        quality and out standing hats, we like making new things and we always
                        try our best in making good hats.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 p-3 about-hat about-p">
                    <img src="~/images/static/pexels-luca-nardone-3651597.jpg" alt="Hat" />
                </div>
            </div>

        </div>
    </div>
    <!--Login-->
    <div id="login" class="boxx Larger shadow">
        <div class="container-fluid p-4 mt-3">

            <div class="row text-center p-5">
                <div class="col-12">
                    <h1>Login</h1>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 lead">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 about-hat">
                    <img src="~/images/static/login.jpg" alt="Hat" />
                </div>

            </div>

        </div>
    </div>

    <!--Register-->


    <div id="register" class="boxx Larger shadow">
        <div class="container-fluid p-4 mt-3">

            <div class="row text-center p-5">
                <div class="col-12 ">
                    <h1>Register</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 lead">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">UserName</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 about-hat">
                    <img src="~/images/static/register.png" alt="Hat" />
                </div>

            </div>

        </div>
    </div>


    <!--Contact Us-->

    <div id="contact-us" class=" boxx Larger shadow">
        <div class="container-fluid ">
            <div class="row text-center p-5">
                <div class="col-12">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 p-3 about-p ">
                    <strong>
                        Email:
                    </strong>
                    abdulrahmanalk21@gmail.com
                    <br />
                    <br />
                    <br />
                    <strong>
                        Phone:
                    </strong>
                    0797624324
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 p-3 about-contact about-hat">
                    <img src="~/images/static/contact5.png" alt="Hat" />
                </div>
            </div>

        </div>
    </div>

    <br />
    <br />
    <br />

    

    



